@model List<Customer>
@{
    ViewBag.Title = "Customer Manager";
}

<h2>Customer List</h2>

<a asp-controller="Customer" asp-action="Add" class="btn btn-primary">Add New Customer</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cust in Model)
            {
                <tr>
                    <td>@cust.FullName</td>
                    <td>@cust.Email</td>
                    <td>@cust.City</td>
                    <td>
                        <a asp-controller="Customer" asp-action="Edit"
                           asp-route-id="@cust.CustomerID" class="btn btn-primary">Edit</a>
                        <a asp-controller="Customer" asp-action="Delete"
                           asp-route-id="@cust.CustomerID" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
